@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

a {
	text-decoration: none;
	transition: 0.2s;
}

button {
	border: none;
	cursor: pointer;
	transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

:root {
	--nunito-sans: "Nunito", sans-serif;
	--open-sans: "Open Sans", sans-serif;

	--accent-light: #fbb731;
	--accent-dark: #f37335;
	--dark: #443737;
	--light: #ffffff;
	--line: #dedede;
	--light-rgb: 255, 255, 255;
	--dark-rgba: 68, 55, 55;
}
body {
	font-family: var(--open-sans);
}

.container {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */

.header {
	border-bottom: 1px solid var(--line);
}

.header-wrapper {
	display: flex;
	align-items: center;
	gap: 196px;
	padding: 26px 0;
}

.logo {
	display: block;
	width: 176px;
	height: 56px;
	background-image: url(../img/logo/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.nav {
	flex-grow: 1;
	display: flex;
	gap: 47px;
}

.nav-link {
	color: var(--dark);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
}

.nav-link::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: transparent;
	border-radius: 1.5px;
}

.nav-link:hover::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--accent-light);
	border-radius: 1.5px;
}

.cart {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--dark);
	font-size: 15px;
	font-weight: 700;
	position: relative;
}

.cart::before {
	content: "";
	display: block;
	background-image: url(../img/icon/shopping-cart.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 26px;
}

.cart-count {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: var(--accent-dark);
	color: var(--light);
	font-size: 10px;
	position: absolute;
	left: 17px;
	bottom: 0;
}

.button-up {
	background-color: var(--accent-light);
	padding: 5px 10px;
	border-radius: 5px;
	font-family: var(--nunito-sans);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: var(--dark);
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.button-up:hover {
	background-color: var(--accent-dark);
}

.button-up.hidden {
	opacity: 0;
	cursor: default;
}

.button-up.visible {
	opacity: 1;
}
/* Hero */
/* _______________________________________________________________________ */

.hero {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 142px 0;
}

.hero-contact {
	background-image: url(../img/contact/hero-contact.jpg);
}

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	gap: 16px;
	padding-left: 0;
	color: rgba(var(--light-rgb), 0.5);
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 0;
}

.hero-title {
	color: var(--light);
	font-family: var(--nunito-sans);
	font-size: 79px;
	font-weight: 700;
	text-transform: capitalize;
	margin-top: 20px;
	margin-bottom: 18px;
}

.hero-description {
	color: rgba(var(--light-rgb), 0.8);
	font-size: 15px;
	line-height: 1.6;
	max-width: 320px;
	margin: 0 auto;
}

.breadcrumbs-item {
	position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "/";
	position: absolute;
	right: -12px;
}

.breadcrumbs-link {
	color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-link:hover {
	color: var(--accent-light);
}

/* Banner */
/* ___________________________________________________________________ */

.banner {
	margin-top: 140px;
}

.banner-wrapper {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
}

.banner-title {
	font-family: var(--nunito-sans);
	color: var(--light);
	font-size: 60px;
	font-weight: 900;
	line-height: 1.26;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 9px;
}

.banner-title span {
	display: block;
	max-width: 95px;
	font-family: var(--open-sans);
	font-weight: 600;
	font-size: 14px;
	line-height: 1.28;
	text-transform: uppercase;
	text-align: center;
	background-color: var(--accent-dark);
	padding: 5px 0;
	border-radius: 14px;
	margin-bottom: 4px;
}

.banner-description {
	max-width: 353px;
	font-size: 15px;
	line-height: 1.6;
	color: rgba(var(--light-rgb), 0.8);
	margin-top: 0px;
	margin-bottom: 15px;
}

.banner-btn {
	display: block;
	max-width: 170px;
	background-color: var(--accent-light);
	padding: 20px 0;
	border-radius: 5px;
	font-family: var(--nunito-sans);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: var(--dark);
}

.banner-btn:hover {
	background-color: var(--accent-dark);
}

/* MENU */
/* __________________________________________________________________________ */

.menu {
	font-family: var(--nunito-sans);
	color: var(--dark);
}

.menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
}
.menu-title {
	font-weight: 700;
	font-size: 44px;
	line-height: 127%;
	text-transform: uppercase;
}

.menu-sorting {
	font-family: var(--open-sans);
	font-size: 15px;
	appearance: none;
	padding: 12px 30px;
	border: 1px solid var(--line);
	border-radius: 22px;
	background-image: url(../img/icon/chevron-down-menu.svg);
	background-repeat: no-repeat;
	background-size: 14px 10px;
	background-position: 89% center;
	flex-basis: 279px;
	cursor: pointer;
	transition: 0.2s;
}

.menu-sorting:hover {
	background-color: rgba(var(--dark-rgba), 0.1);
}

.menu-box {
	margin-top: 34px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 50px 20px;
}

.menu-thumb {
	height: 430px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.menu-thumb img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.menu-item {
}

.menu-name {
	font-weight: 600;
	font-size: 30px;
	line-height: 127%;
	text-align: center;
	margin-top: 22px;
}
.price {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: rgba(var(--dark-rgba), 0.5);
	margin-top: 5px;
}
.menu-btn::before {
	content: "";
	display: block;
	background-image: url(../img/icon/cart-menu.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 18px;
	height: 18px;
}

.menu-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 0 auto;
	padding: 11px 36px 11px 28px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	background-color: var(--accent-light);
	border: none;
	margin-top: 22px;
}

.menu-btn:hover {
	background-color: var(--accent-dark);
}

/* FOOTER */
/* _______________________________________________________________________ */

.footer {
	padding-top: 113px;
	padding-bottom: 106px;
	margin-top: 140px;
	background: #1e2f40;
	color: var(--light);
	font-size: 15px;
}
.footer-wrapper {
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	display: block;
	background-image: url(../img/logo/logo_light.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 63px;
	height: 56px;
}
.footer-title {
	font-family: var(--nunito-sans);
	font-weight: 800;
	font-size: 20px;
	line-height: 190%;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.footer-link:hover {
	color: var(--accent-light);
}

.footer-link {
	display: block;
	font-size: 15px;
	line-height: 160%;
	color: rgba(var(--light-rgb), 0.9);
}

.footer-link:hover {
	color: var(--accent-light);
	transition: 0.2s;
}

.footer-list {
	font-weight: 700;
	line-height: 160%;
	color: var(--light);
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.footer-list li:not(:last-child) {
	margin-bottom: 12px;
}

.footer-list li span {
	display: block;
	font-weight: 400;
	line-height: 160%;
	color: rgba(var(--light-rgb), 0.9);
}

.footer-tel {
	display: block;
	font-family: var(--nunito-sans);
	font-weight: 800;
	font-size: 20px;
	line-height: 190%;
	text-transform: uppercase;
	color: var(--accent-light);
	transition: 0.2s;
}

.footer-tel:hover {
	color: var(--accent-dark);
}

/* CONTACT */
/* _______________________________________________________________________ */

.contact-main {
	display: flex;
	align-items: center;
	gap: 20px;
	max-width: 1057px;
	margin: 140px auto 60px;
}
.contact-map {
	flex-basis: 680px;
}
.contact-adress {
	flex-basis: calc(100% - 680px - 20px);
	list-style-type: none;
	padding-left: 0;
}
.contact-adress > li:not(:last-child) {
	margin-bottom: 26px;
}
.contact-adress > li > span {
	display: block;
	font-size: 15px;
	line-height: 160%;
}
.contact-adress > li > span:first-child {
	font-family: var(--nunito-sans);
	font-size: 20px;
	font-weight: 700;
	line-height: 190%;
	text-transform: uppercase;
	margin-left: 3px;
	margin-bottom: 4px;
}
.contact-adress > li > span:last-child {
	font-weight: 700;
	margin-top: 10px;
}
.contact-additionally {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	max-width: 1057px;
	list-style-type: none;
	padding-left: 0;
	margin: 0 auto;
}
.contact-additionally > li {
	font-size: 15px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.contact-additionally > li::before {
	content: "";
	display: block;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
}
.contact-additionally > li:nth-child(1):before {
	background-image: url(../img/contact/logo/01.svg);
}
.contact-additionally > li:nth-child(2):before {
	background-image: url(../img/contact/logo/02.svg);
}
.contact-additionally > li:nth-child(3):before {
	background-image: url(../img/contact/logo/03.svg);
}
.contact-info,
.contact-tel {
	display: block;
	color: var(--dark);
	font-family: var(--nunito-sans);
	font-size: 20px;
	font-weight: 700;
	line-height: 140%;
	margin-top: 5px;
}
.contact-tel {
	transition: var(--tr);
}
.contact-tel:hover {
	color: var(--accent-light);
}
